<div class="row justify-content-center">
    <div class="col-12">
        <div class="alert alert-warning" role="alert">
            Ocurrió un error: <strong> {{error}} </strong>
            <a href="/" class="alert-link float-end">Regresar a inicio</a>
        </div>
    </div>
</div>