<input type="hidden" id="email" name="email" value="{{this.email}}">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Chat</h3>
        </div>
    </div>
    <div class="row">
        <div id="chat-messages" class="col-md-12">
            <ul id="messages" class="list-unstyled">
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form id="send-message-form">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Escribe tu mensaje" name="message">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">Enviar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>