<div class="row justify-content-center">
    <div class="col-12">
        <div class="alert alert-danger" role="alert">
            El nombre usuario o contraseña es incorrecto. Por favor intenta de nuevo 
            <a href="/" class="alert-link float-end">Iniciar sesión</a>
        </div>
    </div>
</div>