<div class="min-vh-100 d-flex flex-column justify-content-center py-4">
  <div class="row justify-content-center ">
    <div class="col-md-6 col-lg-4">
      {{#if error}}
        <div class="alert alert-warning">
          {{error}}
        </div>
      {{/if}}
      <div class="">
        <div class="card">
          <div class="card-body">
            <form action="/login" method="POST" class="">
                <div class="row gy-3">
                    <div class="col-12">
                      <h3 class="text-center mb-4">Bienvenido</h3>
                    </div>
                    <div class="col-12">
                        <label for="email" class="form-label">Email</label>
                        <input type="text" class="form-control" id="email" placeholder="" name="email">
                    </div>
                    <div class="col-12">
                        <label for="password" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" id="password" placeholder="" name="password">
                    </div>
                    <div class="col-12">
                        <div class="d-grid">
                            <button class="btn btn-primary" type="submit">Ingresar</button>
                        </div>
                    </div>
                    <div class="col-12">
                      No tienes cuenta? <a href="/signup">Registrate</a>
                    </div>
                    <div class="col-12">
                      Olvidaste la clave? <a href="/forgot">Recuperar</a>
                    </div>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>