<div class="row justify-content-center">
    <div class="col-12">
        <div class="alert alert-danger" role="alert">
            Hubo un error al crear tu cuenta: <strong> {{error}} </strong>
            <a href="/signup" class="alert-link float-end">Volver a intentar</a>
        </div>
    </div>
</div>