<div class="min-vh-100 d-flex flex-column justify-content-center py-4">
  <div class="row justify-content-center ">
    <div class="col-md-6 col-lg-4">
      <div class="">
        {{#if errors}}
        <div class="alert alert-warning">
          <strong>Algunos datos no presentan el formato requerido:</strong>
          <ul>
            {{#each errors}}
            <li>{{this.msg}}</li>
            {{/each}}
          </ul>
        </div>
        {{/if}}

        <div class="card">
          <div class="card-body">
            <form action="/signup" method="POST" class="" enctype="multipart/form-data">
              <h3 class="text-center mb-4">Registro de nuevo usuario</h3>
              <div class="row gy-3">
                <div class="col-12">
                  <label for="first_name" class="form-label">Nombre</label>
                  <input type="text" name="first_name" id="first_name" class="form-control"
                    placeholder="introduzca su nombre" required>
                </div>
                <div class="col-12">
                  <label for="last_name" class="form-label">Apellido</label>
                  <input type="text" name="last_name" id="last_name" class="form-control"
                    placeholder="introduzca su apellido" required>
                </div>
                <div class="col-12">
                  <label for="email" class="form-label">Email</label>
                  <input type="text" class="form-control" id="email" placeholder="ejemplo@dominio.com" name="email">
                </div>
                <div class="col-12">
                  <label for="password" class="form-label">Contraseña</label>
                  <input type="password" name="password" id="password" class="form-control"
                    placeholder="introduzca su contraseña" required>
                </div>
                <div class="col-12">
                  <label for="phone" class="form-label">Teléfono</label>
                  <input type="text" class="form-control" id="phone" placeholder="+54(351)7123 456" name="phone">
                </div>
                <div class="col-12">
                  <label for="address" class="form-label">Dirección</label>
                  <input type="text" class="form-control" id="address" placeholder="Calle 123" name="address">
                </div>
                <div class="col-12">
                  <label for="birthday" class="form-label">Fecha Nacimiento</label>
                  <input type="date" name="birthday" id="birthday" class="form-control"
                    placeholder="introduzca su fecha de nacimiento" required>
                </div>
                <div class="col-12">
                  <label for="avatar" class="form-label">Avatar</label>
                  <input type="file" class="form-control" id="avatar" name="avatar">
                </div>
                <div class="col-12">
                  <div class="d-grid">
                    <button class="btn btn-primary" type="submit">Crear cuenta</button>
                  </div>
                </div>
                <div class="col-12">
                  Ya tienes cuenta? <a href="/">Iniciar sesión</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>