<div class="min-vh-100 d-flex flex-column justify-content-center py-4">
    <div class="row justify-content-center ">
        <div class="col-md-6 col-lg-4">
            {{#if error}}
            <div class="alert alert-warning">
                {{error}}
            </div>
            {{/if}}
            <div class="">
                <div class="card">
                    <div class="card-body">
                        <form id="updatePasswordForm" action="/api/users/updatepassword" method="POST">
                            <input id="token" name="token" type="hidden" value="{{token}}">
                            <div class="row gy-3">
                                <div class="form-group">
                                    <label for="newPassword">Nueva Contraseña</label>
                                    <input type="password" class="form-control" id="newPassword" name="newPassword"
                                        required>
                                </div>
                                <div class="form-group">
                                    <label for="confirmPassword">Confirmar Nueva Contraseña</label>
                                    <input type="password" class="form-control" id="confirmPassword"
                                        name="confirmPassword" required>
                                </div>
                                <div id="passwordError" class="alert alert-warning d-none">
                                    Las contraseñas no coinciden.
                                </div>
                                <button type="submit" class="btn btn-primary">Cambiar Contraseña</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('updatePasswordForm').addEventListener('submit', function (event) {
        var newPassword = document.getElementById('newPassword').value;
        var confirmPassword = document.getElementById('confirmPassword').value;
        var passwordError = document.getElementById('passwordError');

        if (newPassword !== confirmPassword) {
            // Evita que el formulario se envíe
            event.preventDefault();
            // Muestra el mensaje de error
            passwordError.classList.remove('d-none');
        } else {
            // Asegúrate de ocultar el mensaje de error si las contraseñas ahora coinciden
            passwordError.classList.add('d-none');
        }
    });
</script>